@font-face {
    font-family: 'Helevitca';
    src: url('fonts/HelevitcaRegular/helveticaneue-webfont.woff') format('woff');
    src: url('fonts/HelevitcaRegular/helveticaneue-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helevitca';
    src: url('fonts/HelevitcaBold/helvetica_neu_bold-webfont.woff') format('woff');
    src: url('fonts/HelevitcaBold/helvetica_neu_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}

.timeline {
    font-family: 'Helevitca';
}
