/* @font-face {
    font-family: 'Helevitca';
    src: url('fonts/HelevitcaRegular/helveticaneue-webfont.woff') format('woff');
    src: url('fonts/HelevitcaRegular/helveticaneue-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helevitca';
    src: url('fonts/HelevitcaBold/helvetica_neu_bold-webfont.woff') format('woff');
    src: url('fonts/HelevitcaBold/helvetica_neu_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
} */


.user-detail{
    margin-left: 0px;
}

.user-avatar{
    margin-right: 0px;
}

.user-name{
    font-family: 'Helevitca', Arial,  sans-serif;
    font-weight: bold;
}

.user-screen-name{
    font-family: 'Helevitca', Arial, sans-serif;
}

.tweet-text{
    padding: 10px;
    font-family: 'Helevitca', Arial,  sans-serif;
    font-weight: bold;
}